.cart{
    position: fixed;
    display: block;
    background: white;
    padding: 40px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    z-index: 100;
    right: 33px;
    bottom: 50px;
    box-shadow: 0 0 10px #cfcfcf;   
}
.cartBadge{
    position: relative;
    left: 2px;
    font-weight: bold;
    text-align: center;
}
