.cartWrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 33px 0;
}
.cartImage{
    width: 300px;
    border-radius: 10px;
    height: 200px;
}
.cartItemInfo{
    width: 400px;
    padding-left: 30px;
    padding-top: 30px;
    background: white;
    border-radius: 10px;
}
.cartSubTotal{
    text-align: center;
    padding: 30px 0 ;
}