.addToCart{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: unset;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #287d28;
    color: white;
}

.addToCart:hover{
    background-color: #01662c;
    transition: .3s;
}


   