.productsCard{
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    min-height: 380px;
    box-shadow: 0 0 10px #f4f4f4;
    margin-bottom: 40px;
    position: relative;
}


.productsImage{
    border-radius: 5px;
    max-width: 350px;
    height: 210px;
}

.productsDitalis{
    padding: 10px 0 10px 10px;
}